/*---------------------------------
		Colors Variables
-----------------------------------*/
/*---------------------------------
		Colors Variables
-----------------------------------*/

$black: #000;

$gray-200: #ccc;

/*---------------------------------
		Border Colors
-----------------------------------*/

$color__border-fieldset: $gray-200;
